<router-outlet />
<!-- <div class="login-form">
  <div class="card">
    <h2 class="head py-2">Login</h2>
    <form class="user-login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12 roundedTextBox mb-3">
          <label>Username</label>
          <input type="email" class="form-control mb-2" formControlName="email" placeholder="Enter Email">
          <div *ngIf="showErr">Email is required.</div>
        </div>
        <div class="col-md-12 roundedTextBox mb-3">
          <label>Password</label>
          <input type="password" class="form-control mb-2" formControlName="password" placeholder="Enter Password">
          <div *ngIf="showErr">Password is required.</div>

        </div>
      </div>
      <br>
      <div class="buttons text-center">
        <button class="btn-customBlue mr-2" type="submit">Login</button>
      </div>
    </form>
  </div>
</div> -->